#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #000;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    // height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
    z-index: 10001;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarCollapse {
    background: #fff;
    outline: none;
}
.navbar-btn:focus {
    outline: none;
}

.nav-link {
    color: #fff;
}

// -------------- HERO

.hero-wrapper {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    // display: flex;
    width: 100%;

    &, * {
        cursor: pointer;
    }

    .cursor {
        position: fixed;
        background: #2128bd;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: -5px 0 0 -5px;
        will-change: transform;
        user-select: none;
        pointer-events: none;
        z-index: 10000;
    }

    .shapes {
        position: absolute;
        height: 100%;
        width: 100%; 
        background: #2128bd;
        overflow: hidden;

        .shape {
            will-change: transform;
            position: absolute;
            border-radius: 50%;

            $shapes: (#005ffe: 650px, #e28446: 440px, #1c7cac: 270px);
            
            @each $color, $size in $shapes {
                &.shape-#{index($shapes, ($color $size))} {
                    background: $color;
                    width: $size;
                    height: $size;
                    margin: (-$size/2) 0 0 (-$size/2);
                }
            }
            
        }
        
        
    }
    .hero-content {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        // justify-content: center;
        // align-items: center;
        height: 100%;
        width: 100%;
        background: #fff;
        mix-blend-mode: screen;

        .landing-heading {
            font-size: 10em;
            font-weight: 900;
            color: #000;
            margin: 0;
        }
    }
    
    
}



@media screen and (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}